<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>newsmth top10 for kindle</title>
<link href="/media/css/kindle.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="header">
{%block header%}

<div id="register">
{%if user.is_authenticated %}
hello {{user.username}}    
<a href="{%url django.contrib.auth.views.logout%}?next={%url smthtop10_main%}">logout</a>
&nbsp;<span style="color: #ccc;">&bull;</span>&nbsp;
<a href="{%url smthtop10.views.profile user.pk%}">profile</a>
{%endif%}
{%if not user.is_authenticated %}         
<a href="{%url django.contrib.auth.views.login%}?next={%url smthtop10_main %}">login</a> 
&nbsp;<span style="color: #ccc;">&bull;</span>&nbsp;
<a href="{%url registration_register%}">registration</a>                 
{%endif%}
&nbsp;<span style="color: #ccc;">&bull;</span>&nbsp;
<a href="{%url smthtop10_help%}">help</a>                 
</div>

<h1 id="logo"><a href="{%url smthtop10_main %}">Newsmth top10 for kindle</a></h1>
<div style="font-size: 16px; margin-top: 8px;">Push newsmth bbs top10 topics to your kindle.</div>
</div>
{%endblock%}
</div>

<div id="content">
{%block content %}
<div id="pushtext">
{%for thread in threads%}
{{thread.date|date:"Y m d"}}
<a class="actionButton textButton" href="/media/{{thread.location}}">HTML</a>
<a class="actionButton textButton" href="/media/{{thread.mobiLocation}}">MOBI</a>
<br />
{%endfor%}
</div>
<div id="rightbar">
<h2 class="section_header">

</h2>
</div>
{%endblock%}
</div>



<div id="footer">
<a href="mailto:deanraccoon@gmail.com">contact me</a>
&nbsp;
<a href="https://github.com/thesues/newsmth">open source</a>
</div>
</body>
</html>
