<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh_CN">
<meta name="Content-Type" content="text/html; charset=UTF-8" />
<body>
<title>kindle for newsmth top10</title>

push smth top10 to your kindle


{%if user.is_authenticated %}
<li><a href="/accounts/logout?next=/smthtop10/">注销</a></li>
<li><a href="{%url smthtop10.views.profile user.pk%}">用户信息</a></li>
{%endif%}
{%if not user.is_authenticated %}
<li><a href="/accounts/login?next=/smthtop10/">登录</a> </li>
<li><a href="/accounts/register">注册</a></li>
{%endif%}
<li><a href="{%url smthtop10.views.help %}">help</a></li>

{%for thread in threads%}
{{thread.date|date:"Y m d"}}
<a href="{{thread.location}}">HTML</a>
<a href="{{thread.mobiLocation}}">MOBI</a>
<br />
{%endfor%}


</body>


</html>
